/****** BASE STYLES ******/
body {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #3e3f3f;
}

#service, #work, #contact {
    height: 600px;
}

/****** GRID ******/
.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}

/****** HEADER ******/
header {
    height: 787px;
    background: url('../img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header img {
    margin: 5px;
    padding: 5px 20px 20px 0px;
    float: left;
}

nav {
    padding: 35px 65px 65px 0px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    color: #3e3f3f;
    text-align: center;
    padding-left: 30px;
}

h1, h2 {
    font-family: 'Great Vibes', cursive;
    font-weight:normal;
}

header h1, h2 {
  line-height: 0px;
  margin:0;
    }

header h1 {
    font-size: 60px;
    color: #3e3f3f;
    text-align: center;
    padding: 50px;
}

header h2 {
    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    font-size: 24px;
    text-align: center;
    color: #3e3f3f;
}

header p {
    width: 410px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    text-align: center;
    line-height: 42px;
    color: #3e3f3f;
    padding: 20px 0px 0px 100px;
}

#puzzle {
    margin: -70px 0px 0px 480px;
}

/****** DIFINE ALL H2 FOR SERVICE, WORK, CONTACT ******/
#service h2, #work h2, #contact h2 {
    font-size: 48px;
    font-weight: normal;
    text-align: left;
    padding: 50px;
}

/****** SERVICE ******/
#service {
    text-align: center;
    background-color: #c8e2f4
}

#service .full-width {
    padding: 20px 0px 200px;
}

#service h3 {
    font-weight: bold;
    font-size: 24px;
    width: 190px;
    margin: 0 auto;
    padding: 15px;
}

#service p {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #3e3f3f;
    padding: 0 35px;
}

/****** WORK ******/
#work {
    text-align: center;
}

#work .full-width {
    padding: 10px 0;
}

#work img {
    height: 175px;
    border: 1px solid #7f7f7f;
    padding: 0px;
}

#work h3 {
    font-weight: bold;
    font-size: 24px;
    width: 190px;
    margin: 0 auto;
    padding: 15px;
}

#work p {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #3e3f3f;
    padding: 0px 50px;
}

/****** CONTACT ******/
#contact {
      background-color: #ebebeb;
}

#contact .full-width {
      padding: 10px 0;
}

#contact img#contact-img {
  margin-left: 50px;
  border: 12px solid #ffffff;
}
#contact h3 {
      padding-left: 115px;
      font-weight: bold;
      font-size: 38px;
}

#contact h4 {
      padding-left: 115px;
      font-weight: bold;
      font-size: 28px;
      margin: 20px 0 5px 0;
  }

#envelope {
      padding: 0 10px 0 113px;
}

#contact a {
      text-decoration: none;
      color: #c49075;
      font-weight: bold;
      font-size: 28px;
}
